:root{

    --primary:#2563eb;
    --secondary:#0f172a;
    --light:#ffffff;
    --dark:#1f2937;
    --gray:#6b7280;
    --bg:#f5f5f5;

    --radius:10px;

    --transition:.3s ease;
    --border:#d1d5db;

}


.dark-theme{

    --primary:#60A5FA;
    --secondary:#E5E7EB;
    --light:#1F2937;
    --dark:#F9FAFB;
    --gray:#D1D5DB;
    --bg:#111827;
    --border:#374151;


}